# Secrets
*.p8
*.xcconfig
!Config.xcconfig.example
DerivedData/

# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Build
build/
*.ipa

# OS
.DS_Store
Thumbs.db
